body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
}
#desk, #graphic, #person{
    border-radius: 100%;
    text-align: left;
    size: 200px;
    padding: 10px;
}
.circular{
    text-align: center;
    display: inline-block;
}
.top{
    width: 100%;
    margin: 0;
}